<a href="https://colab.research.google.com/github/dave165189/Summer-school-assignment/blob/main/DEVESHpythonassignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**python assignment**

In [ ]:
# question 1 

L = [11,12,13,14]
print(L)

[11, 12, 13, 14]

In [ ]:
# i. WAP to add 50 and 60 to L.

L.append(50)
L.append(60)

print(L)

[11, 12, 13, 14, 50, 60]

In [ ]:
# ii. WAP to remove 11 and 13 from L.

L.remove(11)
L.remove(13)

print(L)

[12, 14, 50, 60]

In [ ]:
# iii WAP to sort L in ascending order.

L.sort()

print(L)

[12, 14, 50, 60]

In [ ]:
# iv. WAP to sort L in descending order.

L.sort(reverse=True)

print(L)

[60, 50, 14, 12]

In [ ]:
# v. WAP to search for 13 in L.

print(L.index(14))

2

In [ ]:
# vi. WAP to count the number of elements present in L.

print(len(L))

4

In [ ]:
# vii. WAP to sum all the elements in L.

sum(L)

136

In [ ]:
# viii. WAP to sum all ODD numbers in L.

sum(x for x in L if x%2)

0

In [ ]:
# ix. WAP to sum all EVEN numbers in L.

sum(x for x in L if not x%2)

136

In [ ]:
# x. WAP to sum all PRIME numbers in L.
from math import sqrt
def isprime(n):
    prime_flag = 0

    if(n > 1):
        for i in range(2, int(sqrt(n)) + 1):
            if (n % i == 0):
                prime_flag = 1
                break
        if (prime_flag == 0):
            return True
        else:
            return False
    else:
        return False

sum(x for x in L if isprime(x))

0

In [ ]:
# xi. WAP to clear all the elements in L.

L.clear()
print(L)

[]

In [ ]:
# xii. WAP to delete L.
del L
# print(L)

In [ ]:
# Question 2

D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(D)
print(type(D))

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
<class 'dict'>

In [ ]:
# i. WAP to add new entry in D; key=8 and value is 8.8

D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
# ii. WAP to remove key=2.

del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
# iii. WAP to check weather 6 key is present in D.
if 6 in D.keys():
    print("It is present")
else:
    print("It is not present")

It is not present

In [ ]:
# iv. WAP to count the number of elements present in D.

print(len(D))

5

In [ ]:
# v. WAP to add all the values present D.

sum(D.values())

37.4

In [ ]:
# vi. WAP to update the value of 3 to 7.1.

D[3] = 7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
# vii. WAP to clear the dictionary.

D.clear()
print(D)

{}

In [ ]:
# Question 3
S1 = {10,20,30,40,50,60}
print(S1)
print(type(S1))

S2= {40, 50, 60, 70, 80, 90}
print(S2)
print(type(S2))

{50, 20, 40, 10, 60, 30}
<class 'set'>
{80, 50, 70, 40, 90, 60}
<class 'set'>

In [ ]:
# i. WAP to add 55 and 66 in Set S1.

S1.add(55)
S1.add(66)
print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

In [ ]:
# ii. WAP to remove 10 and 30 from Set S1.

S1.remove(10)
S1.remove(30)
print(S1)

{50, 66, 20, 55, 40, 60}

In [ ]:
# iii. WAP to check whether 40 is present in S1.
if 40 in S1:
    print("It is present")
else: 
    print("It is not present")

It is present

In [ ]:
# iv. WAP to find the union between S1 and S2.

S3 = S1.union(S2)
print(S3)

{66, 70, 40, 80, 50, 20, 55, 90, 60}

In [ ]:
# v. WAP to find the intersection between S1 and S2.

S4 = S1.intersection(S2)
print(S4)

{40, 50, 60}

In [ ]:
# vi. WAP to find the S1 - S2.

S5 = S1-S2
print(S5)

{66, 20, 55}

In [ ]:
# question 4 i. WAP to print 100 random strings whose length between 6 and 8.

import string
import secrets
import random

X = []
for i in range(100):
    N = random.randint(6,8)
    res = "".join(secrets.choice(string.ascii_letters+string.digits+string.punctuation) for i in range(N))
    X.append(res)
print(X)

['%0ckeb%s', '^kU1gX', 'tG&BU2HO', '*8mY|i`\\', 'X0MHL9.l', 'kDvwzL', 'l1}/DRC', 'Uh9V.;w', '>QwBI^', '|3|5v<', '7[1\\O8AJ', '=^bfGUqX', '@@@^CaL', '8:xQYS9', 'p(4\\2S0h', 'leJsk]', '!Yxudgs', 'L`2P@h', '!-"dL1', '8:LU2L', 'kj<rPs>~', 'K6c02n', '2HQQ&Qf', "'f=I7NuV", 'pf`0uL', '(J21J)R', '4YmIVdV#', 'olPv0Tn', 'OpJ|ZmB', ';}-O4Wx', '2Me,/,>', 'im;6S+', '!~S6H?:', '`9R\\@y', ']@~isO', '{M;Ybv', '&|zl>u', 'jxAHLPB', 'mIFN0dIw', '+@}>g5n`', '8vxoCL!', 'J/IP}J@]', 'a*.?]vf[', '{JNb"]DX', 'njn]SU', 'nBP~lO', 'Eft`,8}', '67:z)Mz', 'Blo3mI|_', 'K\\;Ash', "}6vA'L;", ';/.xak', '"zKl&LIh', 'A-VVu<', 'DyGYu*', "m-M5U'Zc", 'U7H!ttQ8', 'sD49#%', ')U)5*JcB', 'stQyJ+"=', '3}"+g*N?', '6D`D~,', 'M?caDUl`', 'Ple<6eS(', 'a+^Kc+lg', '2ffTInD', 'by_(Mfr<', ')P]AlUD', 'YeQ.iqKl', 'h}M_5rf', "kx'%!2", 'kJFJo}i.', 'M>s}jVu', '={yVD]', 'PWkX(HTH', 'xh[q}z~Q', '1CV:zth,', '${NIE/*N', 'PSUEowvB', ';gM}{#f.', 'iza61Q.b', '1Lp?Y)H', '.xZSc%R`', 'W2M)S<R', 'eDEO?U|M', 'w#pXb$%', "x'!rB>|", '9btJLT', 'io5(m5f.', 'Rg,,>-', 'Z])SH+z', 'L^OlT,+Y', 'n@kcR>', 'beGuT5', '$"jmvG', '5Kk)Ea', '@e!jh\\#', '-AvCz:', 'OZwU(a,O', 'c>VSo3']

In [ ]:
# ii. WAP to print all prime numbers between 600 and 800.

def is_prime(n):
    if n == 1:
        return False
    i = 2
    while i*i <= n :
        if n%i == 0:
            return False
        i+= 1
    return True
prime_list = []
for j in range(600,801):
    if is_prime(j):
        prime_list.append(j)
print(prime_list)

[601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797]

In [ ]:
# iii. WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

num_list = []
for i in range(100,1001):
    if i%63==0:
        num_list.append(i)
print(num_list)

[126, 189, 252, 315, 378, 441, 504, 567, 630, 693, 756, 819, 882, 945]

In [ ]:
# Q5. WAP to create two lists of 10 random numbers between 10 and 30;

import random
r1 = [random.randint(10,30) for _ in range(10)]
print(r1)
r2 = [random.randint(10,30) for _ in range(10)]
print(r2)

[18, 30, 15, 21, 11, 11, 18, 12, 15, 13]
[26, 13, 15, 24, 15, 19, 19, 25, 25, 16]

In [ ]:
# i. Common numbers in the two lists

a = set(r1)
b = set(r2)
c = a&b
print(c)

{13, 15}

In [ ]:
# ii. Unique numbers in both the list

a = set(r1)
b = set(r2)
print(a)
print(b)
print(a-(a&b))
print(b-(b&a))

In [ ]:
# iii. Minimum in both the list

min_r1 = min(r1)
min_r2 = min(r2)
print(min_r1)
print(min_r2)

11
13

In [ ]:
# iv. Maximum in both the list

print(max(r1))
print(max(r2))

30
26

In [ ]:
# v. Sum of both the lists

print(sum(r1))
print(sum(r2))

164
197

In [ ]:
# Question 6 WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

import random

r = [random.randint(100,900) for _ in range(100)]
print(r)

[115, 884, 309, 389, 876, 764, 591, 801, 113, 535, 354, 629, 215, 610, 305, 899, 862, 604, 885, 781, 453, 352, 768, 308, 586, 419, 384, 598, 153, 466, 652, 669, 296, 322, 367, 889, 168, 639, 868, 222, 262, 657, 211, 489, 349, 548, 783, 591, 275, 890, 161, 881, 475, 826, 789, 642, 429, 651, 158, 409, 128, 683, 643, 575, 579, 752, 304, 350, 665, 366, 580, 615, 118, 323, 562, 242, 716, 304, 303, 163, 334, 529, 347, 865, 337, 753, 818, 255, 877, 489, 507, 795, 540, 238, 838, 440, 258, 183, 486, 668]

In [ ]:
# i. All odd numbers

r_odd = [x for x in r if x%2!=0]
print(r_odd)
print(len(r_odd))

In [ ]:
# ii. All even numbers

r_even = [x for x in r if x%2 == 0]
print(r_even)
print(len(r_even))

In [ ]:
# iii. All prime numbers

r_prime = [ x for x in r if is_prime(x)]
print(r_prime)
print(len(r_prime))

In [ ]:
# Question 7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.

D = {1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
print(D)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [ ]:
print("{:<10} {:<10} ".format("Keys","Values"))
for key,value in D.items():
    print("{:<10} {:<10} ".format(key,value))

Keys       Values
1          One
2          Two
3          Three
4          Four
5          Five

In [ ]:
# Question 8. L is a list defined as L={"One","Two","Three","Four","Five"}.

L = ["One","Two","Three","Four","Five"]
print(L)

D = {}
for i in L:
    D[i] = len(i)
print("{:<10} {:<10} ".format("Element","Size"))
for key,value in D.items():
    print("{:<10} {:<10} ".format(key,value))

['One', 'Two', 'Three', 'Four', 'Five']
Element    Size
One        3
Two        3
Three      5
Four       4
Five       4

In [ ]:
# Question 9. Write to the file 100 random strings whose length between 10 and 15.

import string
import secrets
import random

X = []
for i in range(100):
    N = random.randint(10,15)
    res = "".join(secrets.choice(string.ascii_letters+string.digits+string.punctuation) for i in range(N))
    X.append(res)
print(X)

['\\N[uDkzZq[+N', "Lq\\w;H?%,'C?", 'Up9PJzt0#N', 'Cb[}$qZk"?b', '3)i$ne#I.No"T$7', 'v!^/CYFY,bR', '3mKR@Nw?\\W~b[', '^.,FWK)6(#oz', 'Y,E/gm}tOj', 'sXlLBKRb[g+D(', 'D#GV%\\tH/rxf', 'VU/^w}z?n~\\', '*(N646<FhZS', 'a0=G!%VjDZv@?/F', '&8<>EC<\\7&', 'fG2X9%A>vlw3-', 'xDrdJpTN"J-fC"m', 'mU>{677\'"(a', 'uWpCDNQkr8', 'yh0{DBgY_V@}', "\\_KCdbA`\\`y'", "DdUKQ`*evbk'9b", 'q1SJh?F$z/GA5{', '1n|XFl$8J1>KG$', "&eA'B_\\]qWO", 'V065O)PH8ax6Y2"', 'R>XGtTiAkYBBLex', '}$k5TNXID&fscW', 'D\\[X4QU]QEk', "Px*j~'30_8g&txh", '[]DgKT)JiQ_3Dcw', 'udq3Jlp^q4/LsW', '2iBIA!j;l*', '6LJ_4ak|@^_8', 'd1,?:4twX[|', '@|v4s/8Ri.+', '[hXN-7qrC0Z=nSr', '0)d`cY?<tl[^SW', 'f\\D]t#Nf}w-n91', '8rdO&^2s*<oopz4', 'M1j<@QJdx9', 'n?"cDl\\#EW6B]v:', 'I~s]S=Kf,Foe', '@Rl<G@CHlFJ', 'xJ-BGy*5!*', '{j!)^Y73+P', 'WcT>v5-2Ea|q', "2Ni76zGLGs8X'=", '[c,YXN<"d*Cdx*=', ")(e9a'P>[\\", 'xD*cairkdxYz', 'ggk6m=E*Pt9Uz6Y', 'ao>I}.kASS&KQA(', "lJO'T.s_<h>", '~$te-7|Gwbvd0', 'amm;+yuush4!', 'G(D*ya.5<V|', ',?,i*FS1zFPb[~', 'YSptZ8f^psE=A', 'Lz5;2K@8215>E`', 's/):xn{)q)oT', 'XVxI4{s/6[', "ZvkLGHl'y3ofE", 'dVRNkWXZ,H', 'jxvbWg7Trn', '|lyp5PnVypvl', 'A@+P@$imC@tb|1#', '}(An`%qZrF', 'Nm>xY5td5K(Lp', 'z$!"p[TZ\\*DAU', "UlL0*Rp).Cp'", '45!1_R{8"pK&Z', '-7;c{"0f!x>UIlq', '?sxC\'}L@6-"M', '9wUmQ3Dpgk>', "'?OE?d{j?P:HPe", '-*ZacqDJUP?', "I90[cJ`<'|8[ld", '4@0ZE&kS8_#2^^', 'gA:HamTw^|y', '`XH?wU7;E.', 'WvN@dB`Jtp~', '#}MK_]"B5FM\'', '$.VeCEVed~h}%5C', '_`n2pw}YJHT1vv', 'P_lT*&roDC7W7!', '3bsD3=850?bX', 'd:?&2zoo0jq7', "]DCTOf'?wBQ+Ysf", 'WqUCI}H4[$Em', '|MRfG+X-([', 'B`8uB27dEO', 'x&NB,2QdJHp7d', 'dBBz0PX>GYNX', 'OR_uN,Dpon|}', ';4;i#H0@9<Ngg3', 'CjqGHJ>>!l', '(=^)WY+f)\\', '6gu$}C#_-k`', 'g1:nI}dw~gfX:m']

In [ ]:
# Question 10. Write to the file all prime numbers between 600 and 800.

def is_prime(n):
    if n == 1:
        return False
    i = 2
    while i*i <= n :
        if n%i == 0:
            return False
        i+= 1
    return True
prime_list = []
for j in range(600,801):
    if is_prime(j):
        prime_list.append(j)
print(prime_list)

[601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797]

In [ ]:
# Question 11. WAP to calculate the time taken by a program.

import timeit

mysetup = "from math import sqrt"
 
mycode = '''
def example(): 
    mylist = [] 
    for x in range(100): 
        mylist.append(sqrt(x))
'''
print(timeit.timeit(setup = mysetup,
                  stmt = mycode,
                  number = 100000))

0.022813855000094918

In [ ]:
# Question 12. WAP to sort following number of elements in a list, calculate time taken and plot the graph. 

import timeit
import random
d = {}
for i in range(1,6):
    mysetup = "import random"

    mycode = '''def x(): 
                    mylist = [random.randint(0,1000) for _ in range(i*5000)] 
                    mylist.sort()
            '''
    time = timeit.timeit(setup = mysetup,stmt = mycode,number = 1000000)
    d[i*5] = time
print("{:<30} {:<30}".format("Number of elements(*1000)", "Time to sort"))
for key,value in d.items():
    print("{:<30} {:<30}".format(key,value))

Number of elements(*1000)      Time to sort
5                              0.11829343900080858
10                             0.1096848780007349
15                             0.10900724099974468
20                             0.10895784900003491
25                             0.11762005499986117

In [ ]:
# Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and minimum average marks.

d = {}
d[1] = [87,88, 68, 68,87]
d[2] = [95,78,67,55,90]
d[3] = [66,89,92,87,76]
d[4] = [67,73,89,92,87]
d[5] = [82,88,76,66,87]
print("{:<10} {:<10} {:<10} {:<10} {:<10} {:<10}".format("Roll no.", "Physics", "Maths", "Chemistry", "English", "Biology"))
for key,value in d.items():
    phy,math,che,eng,hin = value
    print("{:<10} {:<10} {:<10} {:<10} {:<10} {:<10}".format(key,phy,math,che,eng,hin))

for i in d:
    d[i].append(sum(d[i])/5)
print("{:<10} {:<10} {:<10} {:<10} {:<10} {:<10} {:<10}".format("Roll no.", "Physics", "Maths", "Chemistry", "English", "Hindi", "Average"))
for key,value in d.items():
    phy,math,che,eng,hin,avg = value
    print("{:<10} {:<10} {:<10} {:<10} {:<10} {:<10} {:<10}".format(key,phy,math,che,eng,hin,avg))    

avg_dict = {}
for i in d:
    avg_dict[i] = d[i][-1]
print(avg_dict)    

max_key = max(avg_dict, key=avg_dict.get)
print(max_key)
min_key = min(avg_dict, key=avg_dict.get)
print(min_key)

Roll no.   Physics    Maths      Chemistry  English    Biology
1          87         88         68         68         87
2          95         78         67         55         90
3          66         89         92         87         76
4          67         73         89         92         87
5          82         88         76         66         87
Roll no.   Physics    Maths      Chemistry  English    Hindi      Average
1          87         88         68         68         87         79.6
2          95         78         67         55         90         77.0
3          66         89         92         87         76         82.0
4          67         73         89         92         87         81.6
5          82         88         76         66         87         79.8
{1: 79.6, 2: 77.0, 3: 82.0, 4: 81.6, 5: 79.8}
3
2